<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.burhan.audiobooksapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
            android:name=".presentation.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".presentation.ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:name=".presentation.ui.player.service.PlayerService"
                android:enabled="true"
                android:exported="false" />

        <activity
                android:name=".presentation.ui.player.NowPlayingActivity"
                android:launchMode="singleTop" />
        <activity
                android:name=".presentation.ui.audiobookdetail.AudioBookDetailActivity"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".presentation.ui.MainActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/app_name">

        </activity>
    </application>

</manifest>